@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

.payment-body {
    display: flex;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    /* background-image: linear-gradient(to right, #FCF5EF , #fbd0d9); */
    font-family: 'Montserrat', sans-serif;
}
.pay-list{
    flex: 47%;
    background-color: rgb(235, 235, 235);
     height: 100vh;
     overflow-y: scroll;
     border-radius: 15px;
 }
 .pay-detail{
    /* flex: 52%; */
    width: 55%;
     height: 100vh;
     display: flex;
     flex-direction: column;
 }
 .pay-item{
    background-color: white;
    border-radius: 1em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    margin-left: 3.5em;
    margin-right: 3.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.wrap{
    display: flex;
    flex-direction: column;
    /* width: 80%; */
}
.icon{
    padding: 1em;
    text-align: left;
}
.detail-amt{
    margin-bottom: 2.5%;
    font-size: large;
    margin-left: 5%;
}
.thank{
    margin: auto;
    margin-bottom: 10%;
    font-size: x-large;
    font-weight: 600;
}